
@font-face {
  font-family: 'Jost';
  src: url('fonts/Jost-500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    background: #fff;
    color: #444;
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-weight:600;
  }
  /*--------------------------------------------------------------
  # Weather Card
  --------------------------------------------------------------*/
  .weather__card {
    padding: 40px 30px;
    border-radius: 20px;
    color:#3C4048;
  }
  .weather__card h2 {
    font-size:7rem;
    line-height: .8;
  }
  
  
  
  
  .weather__description {
    background-color: #fff;
    border-radius: 25px;
    padding: 5px 13px;
    border:0;
    outline: none;
    color:#7F8487;
    font-size: .956rem;
    font-weight: 400;
  }
 td{
  vertical-align: middle;
 }
  /*--------------------------------------------------------------
  # Weather Status
  --------------------------------------------------------------*/
  .weather__status img {
    height: 20px;
    width: 20px;
    vertical-align:middle;
  }
  .weather__status span {
    font-weight: 500;
    color: #3C4048;
    font-size: .9rem;
    padding-left: .5rem;
  }
  .text-color{
    color: #39A7FF;
  }
  .text-color-2{
    color:#FFA508
  }
  /*--------------------------------------------------------------
  # Weather Forecast
  --------------------------------------------------------------*/
  .hourly{
    overflow-x: auto;
  }
  .hourly img {
    height: 50px;
    width: 50px;
    vertical-align:middle;
    
  }
  .hourly span {
    font-weight: 500;
    color: #3C4048;
    font-size: 1rem;
  }